/* 
*  This stylesheet has been approached mobile first.
*  It is intended to overwrite and augment the existing stylsheet,
*  but be done in such a way that it could be pulled out and used elsewhere
*/

/* 1.1 SEARCH FORM                        */
/* 1.2 SEARCH RESULTS                     */

/* 2. SEARCH AGAIN                        */
          

/* 20. MEDIA QUERIES                      */
/* 20.3 MIN WIDTH 768px: TABLET           */
/* 20.5 MIN WIDTH 959px: SMALL DESKTOP    */


/* 1.1 SEARCH FORM                        */
.search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.search-form label {
    width: 100%;
}
.search-form .search-field {
    border: 10px solid #e95a0c;
    border-right: 0;
    padding: 5px;
    width: 100%;
    height: 60px;
}
.search-form button {
    background-color: white;
}
.search-form .dashicons {
    border: 10px solid #e95a0c;
    border-left: 0;
    padding-bottom: 3px;
}
/* Needed for overriding safari user agent stylesheet */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: border-box;
}
.search-form .dashicons, 
.search-form .dashicons-search::before {
    font-size: 30px;
    line-height: 40px;
    height: 60px;
    width: 50px;
    color: #e95a0c;
}

.screen-reader-text {
    position: absolute;
    margin-left: -10000px;
    display: block;
    height: 1px;
    margin-bottom: 0;
}


/* 1.2 SEARCH RESULTS                     */
.search-results .bread-crumb-container .breadcrumbs {
    display: none;
}
.search-results .page-title, .search-results .search-again h2 {
    color: black;
    margin-top: 35px;
}
.search-results .entry-title {
    padding-top: 15px;
    text-align: left;
}
.search-results .entry-title a {
    text-decoration: none;
    font-size: 24px;
    color: #e95a0c;
}
.search-results .navigation a {
    text-decoration: none;
}





/* 2. SEARCH AGAIN                      */
.search-results #nav-below {
    padding-bottom: 30px;
}

.search-results .search-again .search-form, 
.search-results ul.dwls_search_results {
    max-width: 300px;
}



/* 20. MEDIA QUERIES               */

/* 20.2 MIN WIDTH 567px: TABLET    */
@media screen and (min-width: 567px){

    /* 2. SEARCH AGAIN                      */
    .search-results .search-again .search-form,
    .search-results ul.dwls_search_results {
        max-width: 500px;
    }

}


/* 20.3 MIN WIDTH 768px: TABLET    */
@media screen and (min-width: 768px){

    /* 2. SEARCH AGAIN                      */
    .search-results .search-again .search-form,
    .search-results ul.dwls_search_results {
        max-width: 500px;
    }

}


/* 20.5 MIN WIDTH 959px: SMALL DESKTOP    */
@media screen and (min-width: 959px) {

}