/* 
*  This stylesheet has been approached mobile first.
*  It is intended to overwrite and augment the existing stylsheet,
*  but be done in such a way that it could be pulled out and used elsewhere
*/

/* 1.1 SEARCH FORM                        */
/* 1.2 SEARCH RESULTS                     */

/* 2. SEARCH AGAIN                        */


/* 20. MEDIA QUERIES                      */
/* 20.3 MIN WIDTH 768px: TABLET           */
/* 20.5 MIN WIDTH 959px: SMALL DESKTOP    */


/* 1.1 SEARCH FORM                        */
.search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.search-form label {
    width: 100%;
}

.search-form .search-field {
    border: 10px solid #e95a0c;
    border-radius: 0 !important;
    border-right: 0;
    padding: 5px 10px;
    width: 100%;
    height: 64px;
    font-size: 16px;
    -webkit-appearance: none;
}

.search-form button {
    background-color: white;
}

.search-form .dashicons {
    border: 10px solid #e95a0c;
    border-left: 0;
    padding-bottom: 3px;
}

/* Needed for overriding safari user agent stylesheet */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: border-box;
}

.search-form .dashicons,
.search-form .dashicons-search::before {
    font-size: 30px;
    line-height: 40px;
    height: 64px;
    width: 50px;
    color: #e95a0c;
}

.screen-reader-text {
    position: absolute;
    margin-left: -10000px;
    display: block;
    height: 1px;
    margin-bottom: 0;
}


/* 1.2 SEARCH RESULTS                     */
.search-results .bread-crumb-container .breadcrumbs {
    display: none;
}

.search-results .page-title, .search-results .search-again h2 {
    color: black;
    margin-top: 35px;
}

.search-results .entry-title {
    padding-top: 15px;
    text-align: left;
}

.search-results .entry-title a {
    text-decoration: none;
    font-size: 24px;
    color: #e95a0c;
}

.search-results .navigation a {
    text-decoration: none;
}


/* 2. SEARCH AGAIN                      */
.search-results #nav-below {
    padding-bottom: 30px;
}

.search-results .search-again .search-form,
.search-results ul.dwls_search_results {
    max-width: 300px;
}

/* Live search */
.spinner-square {
    display: flex;
    flex-direction: row;
    width: 40px;
    height: 30px;
}

.spinner-square > .square {
    width: 8px;
    height: 15px;
    margin: auto auto;
}

.square-1 {
    animation: square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s infinite;
}

.square-2 {
    animation: square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 200ms infinite;
}

.square-3 {
    animation: square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 400ms infinite;
}

@keyframes square-anim {
    0% {
        height: 15px;
        background-color: rgba(233, 90, 12, .5);
    }
    20% {
        height: 15px;
        background-color: rgba(233, 90, 12, .75);
    }
    40% {
        height: 30px;
        background-color:  rgba(233, 90, 12, 1);
    }
    80% {
        height: 15px;
        background-color: rgba(233, 90, 12, .75);
    }
    100% {
        height: 15px;
        background-color: rgba(233, 90, 12, .5);
    }
}
.searchform {
    position: relative;
}
.searchform input[type=search]:focus {
    outline: none;
}
.tts-live-search-result-wrap {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    overflow-y: auto;
    max-height: 0;
    transition: max-height .350s;
    background-color: #333333;
    z-index: 1;
    visibility: hidden;
    box-sizing: border-box;
}
.search-form .tts-live-search-result-wrap {
    border-left: 10px solid #e95a0c;
    border-right: 10px solid #e95a0c;
    border-bottom: 10px solid #e95a0c;
}
.tts-search-show .tts-live-search-result-wrap {
    visibility: visible;
    max-height: 320px;
}
.tts-live-search-result {
    width: 100%;
}
.tts-live-search-result ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.tts-live-search-result ul li {
    display: block;
    padding: 0;
    margin: 0;
    text-align: left;
    text-decoration: none;
    border-bottom: 1px solid #808080;
}
.tts-live-search-result ul li a {
    display: block;
    margin: 0;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    font-weight: normal;
    line-height: 1.2em;
}
.tts-live-search-result p {
    color: #ccc;
    padding: 10px 15px;
    margin: 0;
}
.searchform .spinner-square {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity .25s;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.widget_search .spinner-square {
    transform: translateY(-50%) scale(.7);
    right: 30px;
}
.tts-search-loading .spinner-square {
    visibility: visible;
    opacity: 1;
}

/* 20. MEDIA QUERIES               */

/* 20.2 MIN WIDTH 567px: TABLET    */
@media screen and (min-width: 567px) {

    /* 2. SEARCH AGAIN                      */
    .search-results .search-again .search-form,
    .search-results ul.dwls_search_results {
        max-width: 500px;
    }

}


/* 20.3 MIN WIDTH 768px: TABLET    */
@media screen and (min-width: 768px) {

    /* 2. SEARCH AGAIN                      */
    .search-results .search-again .search-form,
    .search-results ul.dwls_search_results {
        max-width: 500px;
    }

}


/* 20.5 MIN WIDTH 959px: SMALL DESKTOP    */
@media screen and (min-width: 959px) {

}