.tts-mb-field-wrap:before,
.tts-mb-field-wrap:after,
.clearfix:before,
.clearfix:after{
    content: "";
    display: table;
}
.tts-mb-field-wrap:after, 
.clearfix:after{
    clear: both;
}

.tts-mb-field-wrap{
    border: 1px solid #dedede;
    margin-bottom: 10px;
    padding: 10px;
}
.tts-mb-label{display: block;margin-bottom: 8px;}
.tts-mb-field-wrap label{
    cursor: pointer;
}
.tts-mb-field{}
.tts-checkbox-group{
    
}

.tts-sahandle {
    margin-right: 8px;
}
.tts-add-media {
    background-color: #eee;
    border: 1px solid #ddd;
    display: inline-block;
    padding: 3px 6px;
    text-decoration: none;
}
.tts-checkbox-group label{
    display: inline-block;
    margin: 0 10px 0 0;
}

.tts-mb-field input[type="text"]{
    width: 100%;
}
.tts-textarea textarea{
    width: 100%;
    height: 100px;
}
.tts-media-add input[type="text"]{
    width: 80%;
}


.tts-mb-field-group {
    border: 1px solid #dedede;
    margin-bottom: 10px;
    padding: 10px;
}
.tts-mb-field-group .ttsmb-inline {
    border: 0 none;
    padding: 0;
}
.ttsmb-inline label {
    display: block;
    float: left;
    margin-right: 1%;
    width: 10%;
}

.ttsmb-inline .tts-mb-field {
    float: left;
    width: 75%;
}
.tts-mb-clone-wrap {
    position: relative;
}
.tts-field-cloneable {
    position: relative;
}
.tts-mb-clone-delete {
    color: #d54e21;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}
.tts-mb-clone-sahandle {
    position: absolute;
    right: 35px;
    top: 5px;
    cursor: pointer;
}
.tts-mb-clone-add {
    position: absolute;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
}
.ttsmb-cloneable-fieldset{
    position: relative;
    padding-bottom: 25px;
}
.tts-field-cloneable .tts-mb-field-wrap {
    margin-bottom: 5px;
}

.tts-field-cloneable .tts-mb-field input[type="text"] {
    font-size: 11px;
    padding: 2px 5px;
}
.tts-field-cloneable .tts-mb-field textarea {
    font-size: 11px;
    padding: 2px 5px;
    height: 50px;
}
.tts-mb-clone-wrap .sortable-placeholder{
    background-color: rgba(255,255,51, .5);
}

.tts-stikers-ul.ui-sortable > li {
    background: none repeat scroll 0 0 #f2f2f2;
    border: 2px solid #dedede;
    box-sizing: border-box;
    display: block;
    float: left;
    margin-right: 2%;
    padding: 0;
    position: relative;
    width: 23%;
}
.tts-stikers-ul li p {
    margin: 5px 10px;
    text-align: center;
}
.tts-stikers-ul .ttsad-control {
    background: none repeat scroll 0 0 #dedede;
    border-bottom: 1px solid #ccc;
    height: 20px;
    margin: 0;
    padding: 4px;
    position: relative;
}
.tts-media-prev {
    display: block;
    margin: 5px 0 0;
}
.tts-stikers-ul li img {
    max-width: 160px;
    width: 100%;
}
.tts-stikers-ul li .tts-media-prev img {
    max-width: 100%;
}
.tts-stikers-ul .tts-sahandle {
    left: 0;
    position: absolute;
    cursor: pointer;
}
.tts-stikers-ul .tts-delete-sticker {
    position: absolute;
    right: 0;
    cursor: pointer;
}
.tts-add-stiker {
    background-color: #ddd;
    border: 1px solid #ddd;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
}

.tts-mb-tcchecklists li {
    float: left;
    margin-bottom: 10px;
    width: 20%;
}
@media screen and (max-width: 1600px){
    .tts-mb-tcchecklists li {width: 25%;}
}
@media screen and (max-width: 1400px){
    .tts-mb-tcchecklists li {width: 33%;}
}
@media screen and (max-width: 1100px){
    .tts-mb-tcchecklists li {width: 33%;}
}
@media screen and (max-width: 1024px){
    .tts-mb-tcchecklists li {width: 33%;}
}
@media screen and (max-width: 960px){
    .tts-mb-tcchecklists li {width: 33%;}
}
@media screen and (max-width: 767px){
    .tts-mb-tcchecklists li {width: 33%;}
}
@media screen and (max-width: 640px){
    .tts-mb-tcchecklists li {width: 33%;}
}
@media screen and (max-width: 480px){
    .tts-mb-tcchecklists li {width: 50%;}
}
@media screen and (max-width: 359px){
    .tts-mb-tcchecklists li {width: 100%;}
}